.banner {
  background-image: url('../../images/background.png') !important;
  height: 140px;
  /* margin: 0 !important; */
  padding: 20px;
  color: #788eb3;
  text-align: center;
  font-weight: 900;
}

@media (min-width: 576px) {
  .banner {
    font-size: xx-large;
  }
}